body {
    background: rgba(127, 201, 250, 0.993);
    font: normal 15pt arial;
}
.ecra{
    text-align: right;
    width: 190px;
    height: 30px;
    border:solid 3px black;
}
.botom {
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: rgb(241, 218, 7);
}
.botomigual {
    text-align: center;
    width: 200px;
    height: 50px;
    background-color: rgb(241, 218, 7);

}
.botom:hover {
	background-color: rgb(216, 194, 0);
}
.botomigual:hover {
	background-color: rgb(216, 194, 0);
}

header {
    color: white;
    text-align: center;
}

section {
    background: rgb(7, 0, 107);
    border-radius: 10px;
    padding: 15px;
    width: 200px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.479);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;

}
